
/* Apply font to body */
body {
font-family: 'Open Sans', sans-serif;
}

header {
text-align:center;
background-color:#3A539B;
color:white;
padding:0px;
}

section {
background-color:#EEEEEE;
text-align:justify;
padding-top:5px;
border-radius:5px;
}
#demo , #demo1 { color:red;font-size:1.2em;}

.trunc {
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
width:45em;
}


#left {
width:40%;
max-width:40%;
float:left;
margin:6px;

}

#right {
width:60%;
max-width:58%;
float:left;
margin:6px;
}
section#common {
padding:5px;
margin:7px;
}

#i1 ,#i2 {
display: block;
 margin-left: auto;
margin-right: auto 
}

footer {
clear:both;
}

h2 {padding-left:10px;color:#663399}

h4 {text-align:center;color:#9A12B3;}

h3 {color:#446CB3;}

#left_footer {
width:40%;
max-width:40%;
margin:6px;
float:left;
height:52.3%;
}

h3 {
text-align:center;
}
p {padding:5px;}

#right_footer {
width:60%;
max-width:58%;
float:left;
margin:6px;
}

form {
padding:20px;
}

a {
text-decoration:none;
}

@media screen and (max-width:1000px)
{
    #left{max-width:100%;width:100%;margin:0px;}
	#right{max-width:100%;width:100%;margin:0px;}
	#left_footer{max-width:100%;width:100%;margin:0px;height:auto;}
	#right_footer{max-width:100%;width:100%;margin:0px;}
}